* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #1a0033, #000428, #000000);
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: rgba(0,0,0,0.6);
  position: fixed;
  width: 100%;
}

.logo {
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
}

nav a:hover {
  color: #a855f7;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  text-align: center;
}

.hero h1 {
  font-size: 45px;
  text-shadow: 0 0 20px #a855f7;
}

.section {
  padding: 100px 50px;
  text-align: center;
}

.section h2 {
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 15px;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #a855f7;
}

.bg-blue {
  background: linear-gradient(135deg, #000428, #004e92);
}

.bg-dark {
  background: #000;
}

/* SOSMED */
.social-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.social-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  text-decoration: none;
  background: rgba(255,255,255,0.1);
  color: white;
  transition: 0.4s;
}

.social-card i {
  font-size: 28px;
  margin-bottom: 10px;
}

.instagram i { color: #E1306C; }
.facebook i { color: #1877F2; }
.tiktok i { color: #ffffff; }
.youtube i { color: #FF0000; }
.whatsapp i { color: #25D366; }

.social-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #a855f7;
}

footer {
  text-align: center;
  padding: 20px;
  background: black;
}
